
<div id="root" class="root"></div>

<script type="text/jsx" src="~/Scripts/components/title.jsx"></script>
<script type="text/jsx" src="~/Scripts/components/form.jsx"></script>
<script type="text/jsx" src="~/Scripts/components/main.jsx"></script>
    